@mixin background-clip {
    -webkit-background-clip: padding-box;
       -moz-background-clip: padding;
            background-clip: padding-box;
}

.about {
    .main {
        margin-top: 40px;
        .me-photo-wrapper {
            position: relative;
            max-width: 260px;

            @media screen and (max-width: $mobile-view) {
                margin: 0 auto;
            }

            &:before, &:after {
                @include box-shadow(0 15px 10px #777);
                @include transform(rotate(-3deg));
                z-index: -1;
                position: absolute;
                content: "";
                bottom: 15px;
                left: 10px;
                width: 50%;
                top: 80%;
                max-width:250px;
                background: #777;
            }

            &:after {
                @include transform(rotate(3deg));
                right: 10px;
                left: auto;
            }
        }

        .main-information {
            margin-bottom: 40px;
            header {
                font-size: 30px;
                margin-bottom: 20px;
                line-height: 1.1em;

                @media screen and (max-width: $mobile-view) {
                    text-align: center;
                }
                h3 {
                    font-weight: normal;
                }
            }

            p {
                font-size: 20px;
                line-height: 1.2em;
            }
        }

        h2 {
            .icon {
                margin-right: 5px;
            }
            font-size: 21px;
        }


        ul {
            margin: 0;
            list-style: none;
            li {
                margin: 10px 0;
            }
        }

        .skills {
            border-top: 1px solid #ddd;
            margin-top: 20px;
            padding: 40px 0;

            .skill {
                text-align: left;
                white-space: normal;
                border: 1px solid #fff;
                h2 {
                    padding: 8px 14px;
                    margin: 0;
                    border-bottom: 1px solid #fff;
                }
                p {
                    padding: 9px 14px;
                }
            }
            .hovered-skill {
                background-color: #ffffff;
                border: 1px solid #ccc;
                border: 1px solid rgba(0, 0, 0, 0.2);
                @include border-radius(6px);
                @include box-shadow(0 5px 10px rgba(0, 0, 0, 0.2));
                @include background-clip;
                h2 {
                    background-color: #CBE86B;
                    border-bottom: 1px solid #ebebeb;
                    @include border-radius(5px 5px 0 0);
                }
            }
            .accordion {
                h2 {
                    color: rgb(51, 51, 51);
                }
            }
        }
    }
}
