@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);

$black: #1C140D;
$links-hover-color: #CBE86B;
$beige: #F2E9E1;
$soft-grey: #ABABAB;

body {
    margin: 0 auto;
    max-width: 940px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;

    a {
        color: $soft-grey;
        &:hover {
            color: $links-hover-color;
            background-color: transparent;
            text-decoration: none;
        }
    }

    header.global {
        height: 30px;
        padding: 20px 0;
        border-bottom: 1px solid #ddd;
        line-height: 30px;

        h1 {
            float: left;
            font-weight: bold;
            font-size: 36px;
            margin: 0;
            padding: 0;
            line-height: 1em;

            a {
                color: $black;
                &:hover {
                    color: $links-hover-color;
                    background-color: transparent;
                    text-decoration: none;
                }
            }
        }

        nav.main-nav {
            float: left;
            margin-left: 30px;

            ul {
                padding-top: 5px;
                a:hover {
                    color: $links-hover-color;
                    background-color: transparent;
                    text-decoration: none;
                }
            }
        }

        nav.social-nav {
            ul {
                margin: 0;
                padding: 0;
                padding-top: 5px;

                li {
                    display: inline-block;
                    font-size: 20px;
                    a:hover{
                        background-color: transparent;
                    }
                }
            }
        }
    }

    article {
        margin-top: 15px;
        header {
            h1 {
                font-size: 26px;
                a {
                    color: $black;
                }
            }

            .article-information {
                overflow: hidden;
                clear: both;
                padding: 5px 0;

                time {
                    color: $soft-grey;
                    float: left;
                    margin-top: 4px;
                }

                .tags {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    display: inline-block;
                    float: right;

                    li {
                        padding: 4px 10px;
                        margin-left: 5px;
                        display: inline-block;
                        background-color: #eee;
                        -webkit-border-radius: 6px;
                        -moz-border-radius: 6px;
                        border-radius: 6px;

                        &:hover, a:hover {
                            color: $soft-grey;
                            background-color: $links-hover-color;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
        p {
            margin-top: 5px;
        }
    }

    footer {
        margin-top: 25px;
        padding: 10px 0;
        border-top: 1px solid #ddd;
    }
}
